h1, p {
    margin: 0;
}

.header {
    position: fixed;
    z-index: 1000;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 15vh;
    align-items: center;
    background-color: #e8e8e8;
    border-bottom: 1px rgba(196, 196, 196, 0.43) solid;
}


.navLink {
    text-decoration: none;
    color: #ff0000;
    text-transform: uppercase;
    font-family: 'Baloo 2', cursive;
}

.navLinkCart {
    text-decoration: none;
    color: black;
}

.navLinkCart:hover {
    color: red;
}

.info {
    font-size: 30px;
    text-align: center;

}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tel {
    font-size: 20px;
    font-weight: 700;
}

.tel img {
    width: 10px;
    margin-right: 5px;
}

.cart {
    width: 170px;
    height: 40px;
    display: flex;
    align-items: center;
}

.cartInfo {
    display: flex;
    flex-direction: column;
}

.cartImg {
    position: relative;
    margin: 10px;
    padding: 0 10px;

}

.cartImg img {
    width: 30px;

}

.countProducts {
    position: absolute;
    border-radius: 50%;
    border: 2px #e8e8e8 solid;
    width: 17px;
    height: 17px;
    font-size: 13px;
    text-align: center;
    top: 0;
    right: 0;
    color: white;
}

.total {
    color: darkgrey;
}