h1, p {
    margin: 0;
}

.header {
    position: fixed;
    z-index: 1000;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 15vh;
    align-items: center;
    background-color: #e8e8e8;
    border-bottom: 1px rgba(196, 196, 196, 0.43) solid;
}


.navLink {
    text-decoration: none;
    color: #ff0000;
    text-transform: uppercase;
    font-family: 'Baloo 2', cursive;
}

.navLinkCart {
    text-decoration: none;
    color: #ff0000;
    text-transform: uppercase;
}

.navLinkCart:hover {
    color: black;
}

.info {
    font-size: 30px;
    text-align: center;

}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tel {
    font-size: 20px;
    font-weight: 700;
}

.tel img {
    width: 10px;
    margin-right: 5px;
}

.cart {
    width: 150px;
    height: 40px;
    display: flex;


}

.cartInfo {
    display: flex;
    flex-direction: column;
}

.cartImg {

    padding-top: 5px;
margin: 0 auto;

}
.cartImg img {
    width: 30px;

}

.total {
    color: darkgrey;
}